
.main-rect1 {
  width: 736px;
  height: 296px;
  border: solid 1px #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.text-layer {
  width: 106px;
  height: 111px;
  font-family: Offside;
  font-size: 88px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-left: 35px;
}

.top-text-layer {
  margin-left: 30px;
  width: 100%;
  height: 23px;
  font-family: Offside;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.graph-top {
  display: flex;
}

.weeka-button {
  margin-right: 30px;
  width: 126.2px;
  height: 31px;
  text-align: center;
  border-radius: 60px;
  background-color: #000000;

  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

  font-family: Offside;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.weeka-button h1{
  font-family: Offside;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: justify;
  color: #ffffff;

}
