.square-card {
  height: 130px;
  width: 130px;
  text-align: center;
  padding: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  margin: 12px;
  border: 1px solid #ccc;
  cursor: pointer;
}
