.card-container {
  background: #f5f5f5;
  padding: 10px;
  height: 100%;
}

.card-container > .ant-tabs-card {
  height: 100%;
}

.card-container > .ant-tabs-card > .ant-tabs-content {
  margin-top: -16px;
  height: 100%;
}
.card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  background: #fff;
  padding: 16px;
  height: 100%;
}

.card-container > .ant-tabs-card > .ant-tabs-bar {
  border-color: #fff;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  border-color: #fff;
  background: #fff;
}
