.ipad{
    background-color:red;
    width:264.5px;
    height:333px;
    position:absolute;
    left:34px;
    top:88px;
    z-index:10;
}
.ipad-circle{
    margin:auto;
    position:relative;
    top:50px;
    width:70px;
    height:70px;
    border-radius:35px;
    background-color:blue;
    border:solid 1px #fff;
}
.ipad-circles{
    width:70px;
    height:70px;
    border-radius:35px;
    background-color:blue;
    position:relative; 
    top:130px;
}