@import "../../Index.scss";

.login {
  &__container {
    margin-top: 80px;
  }

  &__block {
    padding: 40px;
    padding-bottom: 30px;
    border: #000000 1px solid;
    margin: 0 auto;

    &--logo {
      width: 230px;
      height: 47px;
      display: block;
      margin: 0 auto;
      margin-bottom: 35px;
    }
  }

  &__alert {
    position: absolute;
    width: 83%;
    margin-top: -60px;
  }

  &__form {
    @extend %offside-font;

    &--textbox {
      border: none;
      border-bottom: solid 1px grey;
      border-radius: 0px;
      margin-bottom: 30px;
      outline: none;
      width: 100%;
      font-size: 16px;
      text-align: center;
      color: $color-black;
      padding: 17px 0;
    }

    &--checkbox {
      width: 100%;
      font-size: 13px;
      display: inline-block;
      color: rgba(0, 0, 0, 0.6);
    }

    &--forgotpass {
      width: 100%;
      display: inline-block;
      right: 0;
      font-size: 13px;
      color: #000000;
    }

    &--button {
      height: 50px;
      width: 210px;
      font-size: 16px;
      margin-bottom: 65px;
    }

    &--signuptext {
      font-size: 14px;
      margin-top: 35px;
      color: rgba(0, 0, 0, 0.6);
      text-align: center;
    }
  }
}

.container__flex {
  text-align: center;
  margin-bottom: 30px;
}

.login__form .login__form--button {
  display: block;
  margin: 0 auto;
  border-radius: 60px;
  background-color: #000000;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
}

.mb-60 {
  margin-bottom: 60px;
}

.container__flex {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
}

.login__form {
  @media (min-width: 768px) {
    &--checkbox {
      text-align: left;
    }

    &--forgotpass {
      text-align: right;
    }
  }
}
