.checkin-header {
    margin: auto;
    width: 100%;
    height: 60px;
    padding: 10px;
    border-radius: 5px;
    -moz-box-shadow: 0 3px 5px 0 #ccc;
    -webkit-box-shadow: 0 3px 5px 0 #ccc;
    box-shadow: 0 3px 5px 0 #ccc;
    display: flex;
    background: white;
    justify-content: space-around;
    flex-direction: row;
    position: relative;
    text-align: center;
    top: 20px;
  }
  .Insight-Profile {
    width: 50%;
    height: 70  px;
    -moz-box-shadow: 0 3px 5px 0 #ccc;
    -webkit-box-shadow: 0 3px 5px 0 #ccc;
    box-shadow: 0 3px 5px 0 #ccc;
  
    background: white;
    margin: auto auto auto auto;
    position: relative;
    border-radius: 5px;
    padding-top: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
  }
  .Insight-Profile img {
    height: 3rem;
    width: 3rem;
    position: relative;
    border-radius: 100%;
  }
  .Insight-button {
    width: 50px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #afacac;
    text-align: center;color: peachpuff;
    font-size: 13px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 10px;
    position: relative;
    color: rgba(0, 0, 0, 0.8);
    top: 10px;
    -moz-box-shadow: 0 3px 5px 0 #ccc;
    -webkit-box-shadow: 0 3px 5px 0 #ccc;
    box-shadow: 0 3px 5px 0 #ccc;
  }
  .insight-card{
    width: 360px;
    max-width: 100%;
    height: 250px;
    margin: 5px;
    display: flex;
    padding: 15px;
    background-color: white;
    border: 1px solid #e3e3e3;
  }
  .checkin-daybar{
    display:flex
  }
  .checkin-Cascader{
    display:flex
  }
  .checkin-tab{
    display:flex
  }
  @media(max-width:834px){
  .checkin-tab{
    flex-direction: column;
  }
  }