.checkin-profile-header{
    margin:auto;
    width:95%;
    height:auto;
    padding:20px;
   background-color: white;
    -moz-box-shadow:    3px 3px 5px 3px  #ccc;
  -webkit-box-shadow: 3px 3px 5px 3px #ccc;
  box-shadow:         3px 3px 5px 3px #ccc;
position: relative;

top:20px;
}
.checkin-profile-image{
    height: 5rem;
    width: 5rem;

    border-radius: 100%;
}
.checkin-profile-display{
    width: 400px;
    max-width: 100%;
    border-radius: 3px;
    height: 30px;
    margin: 5px;
    display: flex;
    padding: 15px;
    background-color: white;
    border: 1px solid #e3e3e3;
}
.checkin-profile-display vl{
    border-left: 2px solid #e3e3e3;
    margin-left: 30px;
    margin-top: -10px;
    height:20px
}