.Dashboard-Card {
  width: 30%;
  max-width: 100%;
  height: 180px;
  margin: 5px;
  display: flex;
  padding: 15px;
  background-color: white;
  border: 1px solid #e3e3e3;
}
.Dashboard-Card h1 {
  font-size: 60px;
  font-weight: bold;
}
.container {
  display: flex;
  
}
.Dashboard-Graph{
  width: 600px;
  max-width: 100%;
  height: 270px;
  margin: 5px;
  display: flex;
  padding: 15px;
  background-color: white;
  border: 1px solid #000;
  flex-direction: column
}
@media (max-width: 834px) {
  .Dashboard-Card {
    font-size: 12px;
    height: 140px;
  }
  .Dashboard-Card h1 {
    font-size: 20px;
    font-weight: bold;
  }
}
