.login-main {
  max-width: 460px;
  width: 95%;
  display: flex;
  flex-direction: column;
  border: solid black 1px;
  padding: 40px;
  max-height: 600px;
  align-items: center;
}
.login-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.login-logo {
  width: 230px;
  height: 47px;
  display: block;
  margin: 0 auto;
  margin-bottom: 0px;
  margin-bottom: 35px;
}

.login__form--textbox {
  border: none;
  border-bottom: solid 1px grey;
  border-radius: 0px;
  margin-bottom: 37px;
  outline: none;
  width: 100%;
  font-size: 16px;
  text-align: center;
  color: #000000;
  padding: 17px 0;
}
