@import url("https://fonts.googleapis.com/css?family=Offside");
.main-rect {
  max-width: 348px;
  width: 30%;
  height: 219px;
  border: solid 1px #000000;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.box-text-layer {
  font-family: Offside;
  font-size: 300%;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  align-self: center;

  color: #000000;
}

.box-top-text-layer {
  margin: 30px;
  width: 153px;
  height: 23px;
  font-family: Offside;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
