@import url("https://fonts.googleapis.com/css?family=Offside");
.main-rect {
  max-width: 348px;
  width: 30%;
  height: 219px;
  border: solid 1px #000000;
  display: flex;
  flex-direction: column;
  margin: 20px;
  justify-content: space-around;
}

.text-layer {
  width: 106px;
  height: 111px;
  font-family: Offside;
  font-size: 88px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.top-text-layer {
  margin-left: 30px;
  width: 153px;
  height: 23px;
  font-family: Offside;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
