.Staffs-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow: hidden;
  height: 95%;
}
.Staffs-Add {
  width: 200px;
  display: flex;
  align-self: flex-end;
  justify-content: space-evenly;
}
.Staffs-Search {
  margin-top: 40px;
  width: 20%;
  height: 30px;
  border-radius: 300px;
  background-color: #000;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
  border: 5px;
  font-size: 14px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Staffs-Input {
  margin-top: 2%;
  margin-left: 2%;
  width: 320px;
}
.Staffs-Add-Button {
  width: 80px;
  height: 30px;
  margin-left: 2%;
  margin-top: 1%;
}
.Staffs-Line {
  width: 95%;
  margin-top: 2%;
}
.Staffs-Added-div {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  position: relative;
  top: 5%;
  height: 60%;
}
