.Staffs-main{
    width:100%;
    display: flex;
    flex-direction: column;
    overflow-y:scroll;
    height:95%
}
.Staffs-Add{
    width:200px;
    display:flex;
    align-self:flex-end;
    justify-content:space-evenly;
}
.Staffs-Input{
    margin-top:2%;
    margin-left:2%;
    width:320px;
}
.Staffs-Add-Button{
    width:80px;
    height:30px;
    margin-left:2%;
    margin-top:1%;
}
.Staffs-Line{
    width:95%;
    margin-top:2%
}