.badge{
    width: 360px;
    max-width: 100%;
    height: 300px;
    margin: 30px;
    display: flex;
    background-color: white;
    border: 1px solid #A39E9E;
    border-radius: 10px; 
    flex-direction: column;
    -moz-box-shadow:    3px 3px 5px  #ccc;
  -webkit-box-shadow: 3px 3px 5px  #ccc;
  box-shadow:         3px 3px 5px  #ccc;
}
.badge-sub{
    display:flex;
    justify-content: space-evenly;
    padding: 20px;
}

.badge-image{
    height: 2.5rem;
    width: 2.5  rem;
    position: relative;
    left:20px;
    bottom:10px;
    border-radius: 100%;
}


